@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
.Container{
 
  align-items: center;
    justify-content: space-around;

  border-bottom: 1px solid #E0E0E0;
  
  display: flex;
  width: 77%;
  grid-auto-flow: column;
  grid-auto-columns: 10%;

}


.ClotheTypeName{
    text-align: center;
font: normal normal 600 18px/24px Nunito;

color: #525252;

display: flex;
border-bottom: 1px solid #E0E0E0;

position: relative;
margin-top: 30px;
    top: 1px;
    z-index: 999;
    transition: all 0.3s;
cursor: pointer;
}
.ClotheTypeName:hover{
    transform: scale(1.1);
}

@media screen and (max-width: 375px){
    .Container{
        width: 98%;
        border-bottom: 1px solid #E0E0E0;
        display: grid;
        gap: 1.5rem;
        justify-content: normal;
        grid-auto-flow: column;
        grid-auto-columns: 20%;
        overflow-x:auto;
        overscroll-behavior: contain;
        scroll-behavior: smooth;
        
        overflow-y: hidden; 
              
               
      }
      .ClotheTypeName{
        text-align: center;
    font: normal normal 600 18px/24px Nunito;
    gap: 1rem;
    color: #525252;
   width: fit-content;
    display: grid;
    border-bottom: 1px solid #E0E0E0;
    margin: 0 5px 0 5px;
    position: relative;
    margin-top: 30px;
        top: 1px;
        z-index: 999;
    }
}
    
